<div class="reveal">
    <div class="slides">
        {{#each images}}
            <section data-background="{{ url }}">
                <h2>Test</h2>
            </section>
        {{/each}}
    </div>
</div>